@import url('./fonts.css');

html, body {
}

#hero {
  background-image: url('../images/final-picture.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.content h1 {
  font-family: 'Sign Painter House Script';
  font-size: 4rem;
  font-weight: normal;
}

@media (prefers-color-scheme: dark) {
  .is-hidden-dark {
    display: none !important;
  }
}

@media (prefers-color-scheme: light) {
  .is-hidden-light {
    display: none !important;
  }
}

@media (max-width: 450px) {
  .container {
    text-align: center;
  }
}
