@font-face {
  font-family: 'Text Me One';
  src: url('../fonts/TextMeOne-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sign Painter House Script';
  src: url('../fonts/SignPainter-HouseScript-Semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
