---
layout: false
---
doctype html
html 
  head 
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    title Almost Alive Animation
    != css(['https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css', '/css/almost-alive.css'])
    != js([{ src: '/js/almost-alive.js', type: 'module' }])
  body 
    header
      section#hero.hero.is-fullheight.is-danger.mb-6
    main.content
      .container.content
        != page.content
    footer.footer.mt-6
      .columns.is-centered
        .column.is-half
          .content.has-text-centered
            | Love is where it's at.
