doctype html
html
  head
    title #{page.title} - Almost Alive Animation
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    != favicon_tag('/img/favicon.png')
    != css(['https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css', '/css/almost-alive.css'])
    != js({ type: 'module', src: 'https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js' }, { nomodule: 'nomodule', src: 'https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js', })
  body.content
    main.container
      .columns.is-desktop
        .column.is-narrow
          != partial('partials/navigation')
        .column
          != body
    != partial('partials/footer')
